/* line 1, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-bar {
  width: 100%;
  height: 56px;
  display: flex;
  font-family: gordita, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

/* line 12, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-bar-left, .nav-bar-right {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
}

/* line 19, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-bar-left {
  justify-content: flex-start;
}

/* line 23, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-bar-right {
  justify-content: flex-end;
}

/* line 27, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-bar-item {
  display: flex;
}

/* line 31, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-tab-item {
  color: #646f79;
}

/* line 39, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-tab-item {
  font-size: 15px;
  margin-right: 32px;
}

/* line 44, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
.nav-tab-item:hover {
  color: #635ac7;
}

/* line 48, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
#signup {
  padding: 0 16px;
  width: 147px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border: 2px solid #796eff;
  border-radius: 3px;
  color: #796eff;
  font-family: gordita, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  box-sizing: border-box;
  transition: background-color .15s,color .15s ease-in-out;
}

/* line 64, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
#signup:hover {
  background-color: #796eff;
  color: white;
}

/* line 69, /Users/appacademy/Desktop/asana/app/assets/stylesheets/closed_nav_bar.css.scss */
#home-btn-logo {
  background-image: url("https://luna1.co/0fc2ef.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 22px;
  width: 112px;
}
