.asana-moto {
  font-size: 45px;
  font-weight: 400;
  line-height: 55.98px;
  font-family: gordita, 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 32px;
}

.asana-statement {
  font-size: 22px;
  font-weight: 400;
  line-height: 35.992px;
  font-family: gordita, 'Helvetica Neue', Helvetica, sans-serif;
  color: #646f79;
}

.asana-statement {

}

.marketing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
}

.statement-content {
  text-align: center;
  width: 905px;
}
