@keyframes content_slideout {
  0% {
    width: calc(100% + 244px);
    margin-left: 244px;
  }

  100% {
    width: calc(100% + 0px);
    margin-left: 0px;
  }
}

@keyframes content_slidein {
  0% {
    width: calc(100% + 0px);
    margin-left: -244px;
  }

  100% {
    width: calc(100% + 244px);
    margin-left: 0px;
  }
}

@keyframes menu_button_shrink {
  0% {
    width: 45px;
  }

  100% {
    width: 0px;
  }
}

.button-hidden {
  width: 0px;
  transition: width .1s;
}

.button-show {
  width: 45px;
  transition: width .1s;
}

.content-closed {
  animation-name: content_slidein;
  animation-duration: .3s;
}

.content-open {
  animation-name: content_slideout;
  animation-duration: .3s;
}

.open-landing-page {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.content-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-content {
  height: 100%;
  background-color: #f6f8f9;
  display: flex;
  justify-content: center;
}

.app-header {
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.left-header {
  display: flex;
  justify-content: space-around;
}

.right-header {
  display: flex;
  justify-content: space-between;
}

.right-header > div {
  margin-left: 20px;
}

#app-location {
  color: #151b26;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.empty-text {
  color: rgb(156, 166, 175);
  font-size: 11px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 17px;
}

.user-options-button {
  border-radius: 50%;
  background-color: #fc91ad;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

.user-options-button:hover {
  cursor: pointer;
}

#user-options {
  background-color: white;
  padding: 5px 0;
  border: 1px solid rgb(213, 220, 224);
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.06);
  width: 252px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 19px;
  top: 58px;
  z-index: 12;
}

.user-options-section {
  display: flex;
  flex-direction: column;
}

.user-option {
  height: 40px;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  align-items: center;
}

.user-option:hover {
  background-color: #14aaf5;
  cursor: pointer;
}

.app-options-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  border-radius: 50%;
}

.app-options-button {
  cursor: pointer;
}

#app-options {
  background-color: white;
  padding: 5px 0;
  border: 1px solid rgb(213, 220, 224);
  border-radius: 4px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.06);
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 19px;
  top: 58px;
  z-index: 12;
}

.app-option {
  height: 40px;
  padding-left: 15px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.app-option:hover {
  background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  cursor: pointer;
  color: white;

  #app-list-icon {
    fill: white;
  }
}

#app-list-icon {
  width: 16px;
  height: 16px;
  fill: #b7bfc6;
  margin-right: 10px;
  margin-left: 0px;
}
