.project-form {
  width: 580px;
  min-height: 551px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 15px 0px;
  border-radius: 4px;
}

.project-form-header {
  padding: 10px 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid rgb(224, 230, 232);
}

.project-form-header > p {
  font-size: 24px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  position: relative;
}

#project-form-close {
  color: rgb(132, 143, 153);
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  height: 16px;
  width: 16px;
  position: absolute;
  text-align: center;
  right: 13px;
  top: 12px;
}

#project-form-close:hover {
  color: rgb(34, 43, 55);
  cursor: pointer;
}

.project-form-content {
  height: 100%;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.project-name-form {
  height: 62px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-container {
  margin-bottom: 5px;
  color: rgb(132, 143, 153);
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
}

.project-name-input {
  height: 100%;
  border: 1px solid rgb(255, 82, 99);
  border-radius: 4px;
  padding: 9px;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.project-name-not-empty {
  border: 1px solid rgb(213, 220, 224);
}

.project-description-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.description-label-closed {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.description-label-closed:hover {
  cursor: pointer;
  text-decoration-style: solid;
}

.description-input-closed {
  display: none;
}

.project-description-input {
  height: 70px;
  padding: 9px;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  resize: none;
}

.project-radio-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.layout-input-container {
  display: flex;
  flex-direction: column;
}

.layout-input-item {
  display: flex;
  height: 34px;
}

#second-radio-button {
  margin-top: 15px;
}

.project-radio-input {
  width: 12px;
  height: 13px;
}

.project-form-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-left: 10px;
  fill: #b9bec1;
}

.option-description-label {
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  width: 100%;
}

.option-description {
  padding: 5px;
  color: rgb(132, 143, 153);
  font-size: 11px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

#board {
  transform: rotate(180deg);
}

.button-container {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.project-submit-button {
  background-color: rgb(14, 161, 240);
  width: 116px;
  height: 40px;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 4px;
  border: 1px solid rgb(224, 230, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-disabled {
  background-color: rgb(237, 241, 242);
  color: rgb(183, 191, 198);
}

.button-disabled:hover {
  cursor: default;
}

.button-active:hover {
  background-color: #008ce3;
  cursor: pointer;
}
