.session-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: opacity .15s ease-in-out;
}

.session-modal-child {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 90%;
  max-width: 900px;
  background-color: #f6f8f9;
  z-index: 11;
}

.session-modal-container {
  height: inherit;
  padding-left: 112px;
  padding-right: 112px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form {
  width: 100%;
  height: 100%;
}

.form-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.session-modal-exit {
  color: #b7bfc6;
  font-size: 40px;
  font-family: 'Muli', sans-serif;
  position: absolute;
  margin-top: 25px;
  margin-right: 25px;
  top: 0px;
  right: 0px;
  opacity: .6;
  transition: opacity .15s ease-in-out;
}

.session-modal-exit:hover {
  opacity: 1;
}

.session-header {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 45px;
}

.session-label {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(101, 112, 122);
  font-size: 20px;
}

.form-content input {
  height: 40px;
  width: 516px;
  border-radius: 3px;
}

.session-submit {
  background-color: #796eff;
  color: white;
  font-size: 18px;
  transition: background-color .15s,color .15s ease-in-out;
}

.session-submit:hover {
  background-color: #635ac7;
  cursor: pointer;
}

.session-form-input {
  margin-top: 8px;
  border: 2px solid #e0e6e8;
  line-height: normal;
  font-size: 20px;
  padding-left: 10px;
}

.session-form-input:focus {
  border-color: #aba3ff;
}

.session-form-input::placeholder {
  opacity: .6;
}

#signup-message, #login-message {
  color: #9ca6af;
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#signup-link, #login-link {
  color: #796eff;
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#signup-link:hover, #login-link:hover {
  color: #635ac7;
  border-bottom: 2px solid #635ac7;
}

.errors-container {
  position: absolute;
  top: 50%;
}

.open {
  opacity: 1;
}

.errors-container .hidden {
  opacity: 0;
  pointer-events: none;
}

.session-errors {
  width: 189px;
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 15px;
  z-index: 12;
  display: flex;
  transition: opacity 0.3s linear;
  filter: drop-shadow(4px 4px 5px #a19e9e);
}

#signup-name-errors {
  top: -62px;
  left: -129px;
}

#signup-email-errors {
  top: 32px;
  left: -129px;
}

#signup-password-errors {
  top: 126px;
  left: -129px;
}

#login-email-errors {
  top: -30px;
  left: -129px;
}

#login-password-errors {
  top: 79px;
  left: -129px;
}

#login-errors {
  top: 235px;
}

.session-errors p {
  margin-left: 25px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#exclamation {
  background-image: image_url("exclamation");
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  position: absolute;
  top: 13px;
  left: 10px;
}

.arrow-up {
  height: 15px;
  width: 15px;
  background-color: inherit;
  z-index: 13;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -9px;
  left: 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.errors-tab {
  max-height: 100px;
  width: 516px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 237, 239);
}
